<h1><%= @sub.name %></h1>
<p>what do you want to do</p>
<%= link_to 'Edit Sub', edit_sub_path(@sub) %>
<br />
<%= link_to 'Delete Sub', @sub, method: :delete %>
<br />
<%= link_to 'view Topics', sub_topics_path(@sub) %>